{
  "extends": [
    "react-app"
  ],
  "rules" : {
      "quotes": ["error", "single"],
      "indent": ["error", 2],
      "key-spacing": ["error", { "afterColon": true}],
        // "no-console": "error"
  }
}
